/**********************
Project Name:Trip Travel
Developer Name : Shariar Arefin
*********************/
/************* Computer View Query***************/




/************* Computer View Query***************/
/************* Tablet View Query***************/


@media (min-width:769px) and (max-width: 992px) {  
    
}
@media (min-width: 577px) and (max-width: 768px){
   
    
}




/************* Tablet View Query***************/
/************* Mobile View Query***************/

@media screen and (max-width:600px){
    /**********Hero Section*************/

    form{
        flex-direction: column;
    }
    input[type="text"],form select{
        display: block;
        margin-bottom: 15px;
        margin-right: 0px;
    }
    .hero-content{
        max-width: 70%;
    }
    /**********Hero Section*************/
/************* Popular Tour Section***************/
.popular-tour{
    width: 90%;
    padding-top: 24px; 
}
.popular-tour-container{
    flex-direction: column;
}
.popular-tour-img{
    max-width: 90%;
    object-fit: cover;
    margin: 0 auto;
}
/************* Popular Tour Section***************/







}


/************* Mobile View Query***************/

