/**********************
Project Name:Trip Travel
Developer Name : Shariar Arefin
*********************/
/************* Google Font Import ***************/


  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');



/************* Google Font Import ***************/
/************* Variable Diclaration ***************/
:root{
    --primary-color:#FF5400;
    --white-color:#fff;
    --light-gray-in:rgba(19, 19, 24, 0.50);
    --light-gray:rgba(19, 19, 24, 0.05);
    --light-dark-gray:rgba(19, 19, 24, 0.70);
    --Dark-black:#131318;
    --gray-light:#5A5A5D;
    --header-nav:#424247;


    --font-64:4rem;
    --font-40:3rem;
    --font-32:2rem;
    --font-24:1.5rem;
    --font-28:1.8rem;
    --font-20:1.3rem;
    --font-18:1.125rem;
    --font-16:1rem;
    --font-14:0.85rem;
}



/************* Variable Diclaration ***************/

/************* Global Section***************/
*{
    margin:0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.btn-primary{
    padding: 14px 35px;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font-size: var(--font-20);
    font-weight: 800;
    border: 0;
}
.select-title{
    color:var(--Dark-black) ;
    font-size:var(--font-40) ;
    font-weight: 800;
    text-align: center;
}

.select-content{
    color:var(--light-dark-gray) ;
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0; /* 162.5% */
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.logo-title{
    color: var(--Dark-black);
    font-size: var(--font-32);
    font-weight: 800;
}
.logo-color{
    color: var(--primary-color);
    margin-left: 5px;
}




.none{
    display:none;
}
/************* Global Section***************/

/************* Header Section***************/

header{
    width: 80%;
    margin:0 auto;
    padding:50px 0px;
}
.header-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:20px;
}
.header-container-1{
    display: flex;
    justify-content: space-between;
}
.header-container-2{
    display: none;
    /* display: flex;
    justify-content: space-between; */
}
.header-container-1>ul,.header-container-2>ul{
    display: flex;
}
.header-container-1>ul>li,.header-container-2>ul>li{
    list-style: none;
}
.header-container-1>ul>li>a,.header-container-2>ul>li>a{
    text-decoration: none;
    color:  var(--header-nav);
text-align: center;
font-size: var(--font-18);
font-weight: 400;
margin-right:20px;
}
.header-container-1>ul>li>a:hover,.header-container-2>ul>li>a>i:hover{
          color:var(--primary-color);
}





/************* Header Section***************/
/************* Main Section***************/

/**********Hero Section*************/
.hero{
    width: 80%;
    margin:0 auto; 
}
.hero-container{
    text-align: center;
    background: url(../Images/banner.png),linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 106px 0px;
    border-radius: 16px;
    background-blend-mode: overlay;

 
}
.hero-title{

    color: var(--white-color);
    font-size:var(--font-64) ;
    font-weight: 800;
}
.hero-content{
    color: var(--white-color);
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 60%;
    margin: 0 auto;
}
form{
    display: flex;
    justify-content: center;
}
.hero-filter>form>input[type="text"],form select{
    padding-top:16px;
    padding-bottom:16px;
    padding-left: 16px;
    padding-right: 64px;
    margin-right: 20px;
    border:0;
    border-radius: 8px;
    color: var(--light-gray-in);
    background: var(--white-color);
    text-align: center;
    font-size: var(--font-16);
    font-weight: 400;
}
form>button>i{
    padding-right: 5px;

}
form button{
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-size: var(--font-16);
    font-weight: 700;
    padding: 14px 35px;
    border-radius: 8px;
    border: 0;

}
.hero-filter{
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: block;
    width: 80%;
    margin: 0 auto;
}
/**********Hero Section*************/
/************* Popular Tour Section***************/
.popular-tour{
    width: 80%;
    margin:0 auto;  
    padding-top: 100px; 
}
.popular-tour-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:53px;
}
.popular-tour-img{
    border-radius: 16px;
}
.popular-tour-title{
    color:var(--Dark-black) ;
    font-size:var(--font-40) ;
    font-weight: 800;
}
.popular-tour-content{
    color:var(--light-dark-gray) ;
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0; /* 162.5% */
}
ul{
margin-left: 15px;
}
li{
    color:var(--light-dark-gray) ;
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 16px 0px;
}
/************* Popular Tour Section***************/
/************* Destination Section***************/
.destination{
    width: 80%;
    margin:0 auto;  
    padding-top: 100px; 
}
.destination-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 300px;  
      gap:20px;
}
.place-name{
    color: var(--white-color);
text-align: center;
font-size: var(--font-28);
font-weight: 800;
}
.destination-col-1{
    background: url('../Images/Rectangle\ 5.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 6;
    border-radius: 16px;
display:flex;
justify-content:center;
align-items:center;

}
.destination-col-2{
    background: url('../Images/Rectangle\ 8.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 6;
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;


}
.destination-col-3{
    background: url('../Images/Rectangle\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 3;
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;


}.destination-col-4{
    background: url('../Images/Rectangle\ 7.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 6;
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;


}
.destination-col-5{
    background: url('../Images/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 3;
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;


}
.destination-col-6{
    background: url('../Images/Rectangle\ 11.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 4;
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;


}
.destination-col-7{
    background: url('../Images/Rectangle\ 10.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-column: span 8;
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;


}


/************* Destination Section***************/
/***********Why Choose Us Section**************/
.choose-us{
    width: 80%;
    margin:0 auto;  
    padding-top: 100px; 
}
.choose-title{
    color: var(--Dark-black);
font-size: var(--font-24);
font-weight: 800;
padding-top: 32px;
}
.choose-content{
    color:var(--gray-light);
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 16px;
}
.choose-us-container{
display: flex;
justify-content: center;
gap:20px;
}
.choose-us-col-1,
.choose-us-col-2,
.choose-us-col-3{
    padding:32px;
    border-radius: 16px;
}
.choose-us-col-1{
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-top: 48px;
}
.choose-us-col-2{
    
    margin-top: 48px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-col-3{
    width: 50%;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    display: block;
    margin-top: 24px;
}
.choose-us-col-4{
    display: block;
}
.choose-us-col-5{
   display: block;
}
.choose-us-container-1{
    display: flex;
    justify-content: center;
    gap:20px;
    }
/***********Why Choose Us Section**************/

/**************Discount Section**************/
.discount{
    width: 80%;
    margin:0 auto;  
    padding-top: 100px; 
}
.date-place-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cuctom-icon{
    color: var(--primary-color);
    margin-right: 5px;
}
.date-place-text{
    color: var(--gray-light);
font-size: var(--font-16);
font-weight: 400;
}
.place-content{
    padding-top: 26px;
}
.discount-place-title{
    color:var(--Dark-black);
font-size: var(--font-24);
font-weight: 800;
}
.discount-place-content{
    color: var(--gray-light);
font-size: var(--font-16);
font-weight: 400;
line-height: 26px; /* 162.5% */
padding: 16px 0px;
}
.Discount-price{
    color: var(--primary-color);
font-size: var(--font-20);
font-weight: 800;
display: block;
padding-top: 16px;
padding-bottom: 24px;
}
.discount-wrap{
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    border-radius: 16px;
    padding: 50px;
}
.discount-col{
    width: 50%;
    display: block;
    padding: 50px;
    border-radius: 16px;

}
.discount-container-1{
    background:url("../Images/Group\ 39.png");
    border-radius: 16px;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;

}
.discount-container-2{
    background:url("../Images/Group\ 40.png");
    border-radius: 16px;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;

}

.date,
.max-people,
.place{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount-btn{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 48px;
}
/**************Discount Section**************/

/************* Perfect Place Section***************/
.perfect-place{
    width: 80%;
    margin:0 auto;  
    padding-top: 100px; 
}
.perfect-place-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:53px;
}
.popular-tour-img{
    border-radius: 16px;
}
.pefect-place-title{
    color:var(--Dark-black) ;
    font-size:var(--font-40) ;
    font-weight: 800;
}
.perfect-place-content{
    color:var(--light-dark-gray) ;
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0; /* 162.5% */
}
/* .perfect-place-container>ul{
margin-left: 15px;
margin-top:24px;
} */
.perfect-place-col{
    display: block;
    width: 50%;
}
.custom-video{
    border-radius: 16px;
}
.list-item-place{
    color:var(--Dark-black) ;
    font-size: var(--font-16);
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    padding: 16px 0px;
}
/************* Perfect Place Section***************/

/************* Newsletter Section***************/
.newsletter{
    width: 80%;
    margin:0 auto;  
    padding: 110px 0px;
}
.newsletter-col-text{
    padding:40px;
    border-radius: 16px;
    border: 1px solid var(--primary-color);}
.newsletter-title{
    color: var(--Dark-black);
    font-size: var(--font-24);
    font-weight: 800;
}
.newsletter-content{
    color: var(--gray-light);
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.newsletter-form>input{
    color: rgba(19, 19, 24, 0.30);
    font-size: var(--font-16);
    font-weight: 400;
    padding: 16px 20px;
    display: block;
    border-radius: 8px;
    background: var(--light-gray);
    border: 0;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.news-btn{
    width: 100%;
    display: block;
}

.newsletter-container{
    display: flex;
    justify-content: space-between;
    gap:15px;
    align-items: center;
}
.news-hr{
    margin-top: 24px;
    margin-bottom: 24px;
}
.newsletter-img{
    width: 100%;
}
/************* Newsletter Section***************/







/************* Main Section***************/
/************* Footer Section***************/

.footer{
    background: var(--light-gray);
    padding-top:110px;
    text-align: center;

}
.footer-container{
    width: 80%;
    margin: 0 auto;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.footer-content{
    color:var(--gray-light) ;
    text-align: center;
    font-size: var(--font-16);
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 70%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 35px;
}
.social-logo i{
    margin-right: 15px;
    color:var(--Dark-black);
    font-size: var(--font-16);
    
}
hr{
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
}
.footer-reserve{
    color: #131318;
    font-size: var(--font-16);
    font-weight: 300;
    margin-top: 50px;
    padding-bottom: 110px;
}




/************* Footer Section***************/

